html,
body,
#app,
.homePage,
.el-container
 {
    min-width: 1080px;
    min-height: 700px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

/* input 标签的背景颜色*/
.top-left .el-input__inner {
    background-color: #e13e3e;
    border: 0;
    outline: none;
  }
/* .el-popover img {
    width: 200px;
} */
